body {
  background-color: rgba(0, 0, 0, 0.233);
}

html {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

.nav-link {
  margin: 0 15px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.genres-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.genre-item {
  margin-left: 10px;
}

.search-form {
  margin: 20px auto;
  width: 500px;
  display: flex;
  justify-content: center;
}

.search-form > button {
  background-color: rgba(255, 0, 0, 0.336);
}

.review-list {
  list-style: none;
}

.review-link {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.384);
  margin-bottom: 10px;

  border: 2px solid black;
}

.review-link a {
  text-decoration: none;
  color: white;
}
.genres-item {
  margin-right: 10px;
}

.popularity {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.backBtn {
  background-color: rgba(231, 18, 18, 0.671);
  cursor: pointer;
  color: white;
}

.backBtn:hover {
  background-color: rgba(36, 33, 33, 0.582);
  color: white;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: rgba(0, 0, 0, 0.336);
}
.active {
  background-color: rgba(231, 18, 18, 0.671);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  padding: 0;
  list-style: none;
}

.movie-card-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card {
  display: block;
  width: 300px;
  height: 400px;
  margin: 10px;
  transition: all 0.2s ease-in;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-detail__container {
  display: flex;
}

.detail-wrapper {
  width: calc(100% / 2);
  padding: 20px 0 0 20px;
}

.img-wrapper {
  width: 500px;
  height: 700px;
}

.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cast-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
